nav a {
    color: black;
}

.background-default {
    background-color: rgba(0, 0, 0, 0);
}

.background-trans {
    animation-name: to_trans;
    animation-duration: 1s;
    background-color: rgba(0, 0, 0, 0);
}

.background-white {
    animation-name: to_white;
    animation-duration: 1s;
    background-color: white;
}

.overlay-logo {
    animation-name: overlay-logo;
    animation-duration: 2.5s;
    position: relative;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.overlay-surface {
    animation-name: overlay-surface;
    animation-duration: 2.5s;
    position: absolute;
    width: 25%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

@keyframes overlay-surface {
    from {
        background-color: rgba(255, 255, 255, 0);
    } to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@-webkit-keyframes overlay-surface {
    from {
        background-color: rgba(255, 255, 255, 0);
    } to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes overlay-logo {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@-webkit-keyframes overlay-logo {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes to_white {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: white;
    }
}

@-webkit-keyframes to_white {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: white;
    }
}

@keyframes to_trans {
    from {
        background-color: white;
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes to_trans {
    from {
        background-color: white;
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}